S3method(as.data.frame, Bolstad)
export(bayes.lin.reg)
export(binobp)
export(binodp)
export(binogcp)
export(binomixp)
export(cdf)
S3method(cdf, Bolstad)
export(IQR)
S3method(IQR, default)
S3method(IQR, Bolstad)
S3method(mean, Bolstad)
S3method(median, Bolstad)
export(normdp)
export(normgcp)
export(normmixp)
export(normnp)
export(nvaricp)
S3method(plot, Bolstad)
S3method(print, sscsamp)
S3method(print, sintegral)
export(poisdp)
export(poisgamp)
export(poisgcp)
S3method(quantile, Bolstad)
export(sd)
S3method(sd, default)
S3method(sd, Bolstad)
export(sintegral)
export(sscsample)
export(sscsample.data)
export(xdesign)
export(var)
S3method(var, default)
S3method(var, Bolstad)
